[Desktop Entry]
Encoding=UTF-8
Name=Printing
Name[ar]=الطباعة
Name[as]=মুদ্ৰণ কৰা হৈছে
Name[bg]=Печатане
Name[bn]=প্রিন্ট করা হচ্ছে
Name[bn_IN]=প্রিন্ট ব্যবস্থা
Name[ca]=Impressió
Name[cs]=Tisk
Name[cy]=Yn argraffu
Name[da]=Udskrift
Name[de]=Drucken
Name[el]=Εκτύπωση
Name[en_GB]=Printing
Name[es]=Imprimiendo
Name[et]=Printimine
Name[fa]=در حال چاپ
Name[fi]=Tulostus
Name[fr]=Impression
Name[gu]=છાપન
Name[hi]=छपाई कर रहा है
Name[hr]=Ispisivanje
Name[hu]=Nyomtatás
Name[id]=Mencetak
Name[it]=Stampa
Name[ja]=印刷
Name[ko]=프린트하기
Name[lv]=Drukāšana
Name[mk]=Печатам
Name[ml]=പ്രിന്‍റ് ചെയ്യുന്നു
Name[mr]=मुद्रण
Name[ms]=Mencetak
Name[nb]=Skrivere
Name[nl]=Afdrukken
Name[no]=Utskrift
Name[or]=ମୂଦ୍ରଣ କରୁଅଛି
Name[pa]=ਛਾਪਣਾ
Name[pl]=Drukowanie
Name[pt]=Impressão
Name[pt_BR]=Impressão
Name[ru]=Печать
Name[si]=මුද්‍රණය කරමින්
Name[sk]=Tlačenie
Name[sl]=Tiskanje
Name[sr]=Штампање
Name[sr@Latn]=Štampanje
Name[sv]=Utskrift
Name[ta]=அச்சிடுதல்
Name[te]=ముద్రించు
Name[tr]=Yazdırma
Name[zh_CN]=正在打印
Name[zh_TW]=列印
Comment=Configure printers
Comment[as]=মুদ্ৰকৰ বিন্যাস কৰক
Comment[bn_IN]=প্রিন্টার কনফিগার করুন
Comment[ca]=Configureu impressores
Comment[da]=Konfigurér printere
Comment[de]=Drucker konfigurieren
Comment[el]=Ρύθμιση εκτυπωτών
Comment[es]=Configurar impresoras
Comment[fr]=Configurez les imprimantes
Comment[gu]=પ્રિન્ટરો રૂપરેખાંકિત કરો
Comment[hi]=मुद्रक विन्यस्त करें
Comment[hr]=Konfiguriranje pisača
Comment[hu]=Nyomtatók beállítása
Comment[it]=Configura le stampanti
Comment[ja]=プリンタの設定
Comment[ko]=프린터 설정
Comment[lv]=Printeru iestatīšana
Comment[ml]=പ്രിന്‍ററുകള്‍ സജ്ജമാക്കുക
Comment[mr]=मुद्रक व्यूहरचित करा
Comment[nb]=Konfigurer skrivere
Comment[nl]=Printers configureren
Comment[or]=ମୂଦ୍ରଣୀ ମାନଙ୍କୁ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਪਰਿੰਟਰ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja drukarek
Comment[pt]=Configurar as impressoras
Comment[pt_BR]=Configurar impressoras
Comment[ru]=Настройка принтеров
Comment[si]=මුද්‍රකයන් මානකරන්න
Comment[sk]=Nastavenie tlačiarní
Comment[sr]=Подешавање штампача
Comment[sr@Latn]=Podešavanje štampača
Comment[sv]=Konfigurera skrivare
Comment[ta]=அச்சடிப்பிகளை கட்டமைக்கவும்
Comment[te]=ముద్రకాలను ఆకృతీకరించు
Comment[zh_CN]=配置打印机
Comment[zh_TW]=設定印表機
Exec=/usr/bin/system-config-printer
Terminal=false
Type=Application
Icon=cupsprinter.png
StartupNotify=true
