[Desktop Entry]
Encoding=UTF-8
Name=Printing
Comment=Configure printers
Exec=/usr/bin/system-config-printer
Terminal=false
Type=Application
Icon=cupsprinter.png
StartupNotify=true
