[Desktop Entry]
Encoding=UTF-8
Name=Printing
Name[ar]=الطباعة
Name[bg]=Печатане
Name[bn]=প্রিন্ট করা হচ্ছে
Name[bn_IN]=প্রিন্ট কর্ম
Name[ca]=Impressió
Name[cs]=Tisk
Name[cy]=Yn argraffu
Name[da]=Udskriver
Name[de]=Drucken
Name[en_GB]=Printing
Name[es]=Imprimiendo
Name[et]=Printimine
Name[fa]=در حال چاپ
Name[fr]=Impression
Name[gu]=છાપી રહ્યા છીએ
Name[hi]=छपाई कर रहा है
Name[hr]=Ispisivanje
Name[id]=Mencetak
Name[it]=Stampa
Name[ja]=印刷
Name[ko]=인쇄 중
Name[mk]=Печатам
Name[ml]=പ്രിന്‍റ് ചെയ്യുന്നു
Name[mr]=मुद्रण
Name[ms]=Mencetak
Name[nb]=Skrivere
Name[nl]=Afdrukken
Name[no]=Utskrift
Name[or]=ମୂଦ୍ରଣ କରୁଅଛି
Name[pa]=ਛਾਪਣਾ
Name[pt]=Impressão
Name[pt_BR]=Impressão
Name[ru]=Печать
Name[si]=මුද්‍රණය කරමින්
Name[sl]=Tiskanje
Name[sr]=Штампање
Name[sr@Latn]=Štampanje
Name[sv]=Utskrift
Name[ta]=அச்சடிக்கிறது
Name[te]=ముద్రించు
Name[tr]=Yazdırma
Name[zh_CN]=正在打印
Name[zh_TW]=列印
Comment=Configure printers
Comment[bn_IN]=প্রিন্টার কনফিগার করুন
Comment[de]=Drucker konfigurieren
Comment[es]=Configurar impresoras
Comment[fr]=Configurer les imprimantes
Comment[gu]=પ્રિન્ટરો રૂપરેખાંકિત કરો
Comment[hi]=मुद्रक विन्यस्त करें
Comment[hr]=Konfiguriranje pisača
Comment[it]=Configura le stampanti
Comment[ja]=プリンタの設定
Comment[ko]=프린터 설정
Comment[ml]=പ്രിന്‍ററുകള്‍ സജ്ജമാക്കുക
Comment[mr]=मुद्रक व्यूहरचित करा
Comment[nb]=Konfigurer skrivere
Comment[or]=ମୂଦ୍ରଣୀ ମାନଙ୍କୁ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਪ੍ਰਿੰਟਰ ਸੰਰਚਨਾ ਕਰੋ
Comment[pt_BR]=Configurar impressoras
Comment[ru]=Настройка принтеров
Comment[si]=මුද්‍රකයන් මානකරන්න
Comment[sr]=Подешавање штампача
Comment[sr@Latn]=Podešavanje štampača
Comment[sv]=Konfigurera skrivare
Comment[ta]=அச்சடிப்பிகளை கட்டமைக்கவும்
Comment[te]=ముద్రకాలను ఆకృతీకరించు
Comment[zh_CN]=配置打印机
Comment[zh_TW]=設定印表機
Exec=/usr/bin/system-config-printer
Terminal=false
Type=Application
Icon=cupsprinter.png
StartupNotify=true
